@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    padding: 20px;
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

section{
    width: 400px;
    height: 400px;
    background-color: hsl(213, 19%, 18%);
    box-sizing: border-box;
    padding: 30px;
    color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#optionsSection{
    display: flex;
}

#thanksSection{
    text-align: center;
    align-items: center;
    padding: 50px 30px 50px 30px;
    display: none;
}

.scoreSelected{
    margin-top: 1.7rem;
    font-size: 15px;
    background-color: hsl(215, 10%, 24%);
    padding: 7px 14px;
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
}

.thanksParagraph{
    margin: 0;
    margin-top: auto;
}


.icon-container{
    width: 50px;
    height: 50px;
    background-color: hsl(215, 10%, 24%);
    border-radius: 50%;
    line-height: 58px;
    text-align: center;
    margin-bottom: 2rem;
}

h1{
    margin-bottom: 1rem;
}

p{
    margin-bottom: 1.7rem;
    color: hsl(216, 12%, 54%);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.option{
    background-color: hsl(215, 10%, 24%);
    color: hsl(216, 12%, 54%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.1s;
}

.option:hover{
    transition: 0.1s;
    color: lightgray;
    background-color: hsl(216, 12%, 54%);
}

.selected{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.selected:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

button{
    width: 100%;
    text-transform: uppercase;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    color: white;
    background-color: hsl(25, 97%, 53%);
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bolder;
    padding: 12px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: auto;
    border: none;
    transition: 0.2s;
}

button:hover{
    transition: 0.2s;
    background-color: white;
    color:hsl(25, 97%, 53%);
}

@media screen and (max-width: 420px){ 
    .option{
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    ul{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 350px){ 
    .option{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

}

@media screen and (max-width: 300px){ 
    .scoreSelected{
        font-size: 10px
    }
}