@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(233, 46%, 7%);
    color: white;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    padding: 0 10px;
}

.purple{
    color: hsl(277, 64%, 61%);
}

main{
    display: flex;
    width: 1000px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: hsl(246, 38%, 16%);
    box-sizing: border-box;
    width: 50%;
    padding: 4rem;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 1rem;
    line-height: 28px;
}

.reunion-img{
    width: 50%;
    filter: invert(0%) sepia(43%) saturate(931%) hue-rotate(232deg) brightness(89%) contrast(92%);
}

.business{
    display: flex;
    margin-top: auto;
    font-size: 1.5rem;
    justify-content: space-between;
    font-weight: bolder;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.business-sector{
    margin-top: 10px;
    color: hsla(0, 0%, 100%, 0.65);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px){

    main{
        flex-direction: column-reverse;
        text-align: center;
        
    }

    p{
        margin-bottom: 2rem;
    }

    .information{
        width: 100%;
        padding: 2.5rem;
    }

    .business{
        flex-direction: column;
        align-items: center;
    }

    .business-sector{
        margin-bottom: 1.3rem;
    }

    .reunion-img{
        content: url(../images/image-header-mobile.jpg);
        width: 100%;
    }
}